#oneScroll {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    perspective: 1000px;
    overflow-y: hidden;

    .page {
        width: 1280px;
        height: 1080px;
        position: absolute;
        left: 50%;
        top: 50%;
        // margin: 100px 0 0 0px;
        // // transform: translateZ(100em);
        // opacity: 0;
        // transform-style: preserve-3d;

        &.on {
            opacity: 1;
            z-index: 10;
            transform: translateZ(0px);
        }
    }
}

.page .bg {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: -10;
    transform: translate(-50%, 0);
}
@media (max-width: 680px) {
    .page .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 20%;
        z-index: -10;
        transform: translate(-50%, 0);
    }
}

.page01 .bg img {
    width: 100%;
}

.page .bg img {
    width: 100%;
}

.night {
    position: absolute;
    scale: 1.6;
    top: -50%;
    left: 10%;
    z-index: -10;
}
@media (max-width: 680px) {
    .night {
        position: absolute;
        scale: 1.5;
        top: 25%;
        left: 10%;
        z-index: -10;
    }
}

.nightstar {
    position: absolute;
    width: 100vw;
    top: -50%;
    left: 20%;
    z-index: -10;
}
@media (max-width: 680px) {
    .nightstar {
        position: absolute;
        width: 100vw;
        top: 20%;
        left: 20%;
        z-index: -10;
    }
}

.moon {
    position: absolute;
    scale: 0.7;
    top: -50%;
    left: 15%;
    z-index: -3;
}
@media (max-width: 680px) {
    .moon {
        position: absolute;
        scale: 1.3;
        left: 2%;
        top: 41%;
        z-index: -3;
    }
}

.skycloud1 {
    position: absolute;
    width: 100%;
    scale: 1.5;
    top: -27%;
    left: 20%;
    z-index: -3;
}
@media (max-width: 680px) {
    .skycloud1 {
        position: absolute;
        top: 42%;
        left: 3%;
        z-index: -3;
    }
}

.skycloud2 {
    position: absolute;
    width: 100%;
    scale: 1.5;
    top: -34%;
    left: 20%;
    z-index: -3;
}
@media (max-width: 680px) {
    .skycloud2 {
        position: absolute;
        width: 100%;
        top: 41%;
        left: 3%;
        z-index: -3;
    }
}
.skycloud3 {
    position: absolute;
    width: 100%;
    scale: 1.5;
    top: -29%;
    left: 20%;
    z-index: -10;
}
@media (max-width: 680px) {
    .skycloud3 {
        position: absolute;
        width: 100%;
        top: 40%;
        left: 3%;
        z-index: -10;
    }
}
.mountain {
    position: absolute;
    width: 100%;
    scale: 1.5;
    top: -46%;
    left: 20%;
    z-index: -3;
}
@media (max-width: 680px) {
    .mountain {
        position: absolute;
        width: 100%;
        top: 39%;
        z-index: -3;
        left: 3%;
    }
}

#page-1 {
    background: #f17fff;
    z-index: 10;
}

#oneScroll #page-1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#page-1 {
    .box {
        width: 100px;
        height: 100px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
    }

    .bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .cloud-big {
        position: absolute;
        left: 6.5625rem;
        top: 14.375rem;
    }

    .cloud-small {
        position: absolute;
        right: 3.125rem;
        top: 0.625rem;
    }

    .cloud-middle {
        position: absolute;
        top: 55%;
        left: 10%;
    }
    .cloud-middle2 {
        position: absolute;
        top: 35%;
        right: 15%;
    }

    .flower_left {
        position: absolute;
        left: 0;
        top: 0;
    }

    .flower_right {
        position: absolute;
        right: 0;
        top: 80%;
        transform-origin: right bottom;
        animation: flower 15s infinite alternate;
    }

    .music_green {
        position: absolute;
        top: 25%;
        right: 15%;
    }

    .blue02 {
        position: absolute;
        left: 0%;
        bottom: -30%;
        z-index: 5;
    }
    @media (max-width: 680px) {
        .blue02 {
            position: absolute;
            left: 0%;
            bottom: -7%;
            z-index: 5;
        }
    }

    .green_left {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 35%;
    }
    @media (max-width: 680px) {
        .green_left {
            position: absolute;
            left: 0;
            top: 75%;
        }
    }

    .cat {
        z-index: 4;
        position: absolute;
        scale: 1.5;
        right: 30vw;
        bottom: 8rem;
    }
    .cat2 {
        z-index: 4;
        position: absolute;
        scale: 1.5;
        right: 25vw;
        bottom: 8rem;
    }
    @media (max-width: 680px) {
        .cat {
            z-index: 4;
            position: absolute;
            scale: 1;
            right: 1.25rem;
            bottom: 1.25rem;
        }
        .cat2 {
            z-index: 4;
            position: absolute;
            scale: 1;
            right: 0.625rem;
            bottom: 0.8rem;
        }
    }

    .music_yellowpink {
        position: absolute;
        top: 25%;
        left: 10%;
    }

    .cityback {
        width: 100%;
        position: absolute;
        scale: 0.7;
        z-index: -1;
        left: 0%;
        top: -130%;
    }
    @media (max-width: 680px) {
        .cityback {
            width: 231%;
            position: absolute;
            z-index: -1;
            left: 9%;
            top: 36%;
            transform: translate(-50%, -50%) scale(0.7); /* 화면 중앙 정렬 유지 */
        }
    }

    .green_right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 20%;
    }
    @media (max-width: 680px) {
        .green_right {
            position: absolute;
            top: 75%;
        }
    }

    .main_title {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .explore {
        position: absolute;
        left: 50%;
        top: 123%;
        transform: translate(-50%, -50%);
    }
    @media (max-width: 680px) {
        .explore {
            position: absolute;
            left: 50%;
            top: 138%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes flower {
    to {
        transform: rotate(5deg);
    }
}
